<div class="h-full bg-white border border-gray-200 w-64">
    <div class="border-b border-gray-200 p-5 mb-1 flex items-center justify-items">
        <div class="">
             
            <span class="font-bold text-xl text-gray-700">Notification System</span>

        </div>
    </div>

    <div>
        <nav class="p-4 space-y-1">
        @for (item of items(); track item.label)
        {
        
            <app-sidebar-item [item]="item" (onClickedEmit)="setActiveItem(item.label)">
            </app-sidebar-item>   

        }
        </nav>
    </div>
</div>